.profile-picture {
    margin: 1vw auto 0 auto;
    height: 150px;
    width: 150px;
}

a.card {
    color: var(--tx-color);
    text-decoration: none;
    cursor: pointer;
}

a.card:hover {
    background-color: var(--body-bg-color-hover);
}

.list-group-item {
    background-color: transparent;
    border-color: var(--darker);
}

.card-footer {
    --bs-card-cap-bg: var(--small-darker);
}