body {
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
    max-width: 350px;
    padding: 15px;
}

label {
    display: none;
}

input {
    width: 100%;
}

#user_id {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#password {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#error-msg {
    display: none; visibility: hidden;
}

#submit-but {
    width: 100%;
    border: none;
    background-color: #70AD47;
    color: white;
    font-size: 1rem;
}

#submit-but:hover {
    background-color: #689e45;
}

#submit-but:active {
    background-color: #5f8e3f;
}

#copyright {
    position: relative;
    bottom: 40px;
}