body {
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
    max-width: 350px;
    padding: 15px;
}

label {
    display: none;
}

input {
    width: 100%;
}

#user_id {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#password {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#submit-but {
    position: relative;
    top: 20px;
}