#profile-picture-visualizer {
    max-height: 150px;
    max-width: 150px;
}

#taken.red {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

#taken.green {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}