html {
    background-color: #e3e3e1;
}

main {
    width: 100%; height: 100%;
    display: flex;
    padding: auto;
}

a {
    text-decoration: none;
    color: black;
}

header ul, footer ul {
    display: flex;
    justify-content: space-around;
}

#links ul {
    display: grid;
    grid-template-columns: auto auto;
}

#links a {
    display: inline-block;
    width: 2vw;
    height: 2vw;
}

#links img {
    height: 2vw;
}

#started_games {
    flex: 0 1 40%;
}

#search_games {
    flex: 0 1 40%;
}

#profile {
    flex: 0 1 20%;
}